Ejercicios_3º_trimestre/dtd/note.dtd

<!ELEMENT note (to, from, heading, body)>
    <!ELEMENT to (#PCDATA)><!-- PCDATA introducira -->
    <!ELEMENT from (email, nombre)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT heading (#PCDATA)>
    <!ELEMENT body (mensaje, fecha)><!--cambio PCDATA a los elementos que contiene-->
        <!ELEMENT mensaje (#PCDATA)>
    <!ELEMENT fecha (dia, mes, ano)>
        <!ELEMENT dia (#PCDATA)>
        <!ELEMENT mes (#PCDATA)>
        <!ELEMENT ano (#PCDATA)>